@import "./reset.css";
@import "./variables.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--lighter-black);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

a {
  color: var(--lighter-black);
  font-weight: bold;
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
  transition: 0.4s ease all;
}

a::after {
  content: " \2197";
}

.button {
  background-color: var(--light-black);
  border: 3px solid var(--light-black);
  border-radius: 25px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 5px var(--size-20px);
  text-decoration: none;
  transition: 0.4s ease all;
}

.button__secondary {
  background-color: var(--white);
  border: 3px solid var(--light-black);
  color: var(--light-black);
}

.button:hover {
  background-color: var(--sunshine);
  color: var(--light-black);
}

.button__honolulu:hover {
  background-color: var(--honolulu);
  color: var(--white);
}

h1 {
  font-family: "Vidaloka", serif;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--size-10px);
}

h3 {
  font-family: "Vidaloka", serif;
  font-size: 1.65rem;
  margin-bottom: var(--size-20px);
}

h4 {
  font-family: "Vidaloka", serf;
  font-size: 1.2rem;
  margin-bottom: var(--size-10px);
}

p {
  margin-bottom: var(--size-20px);
}

section {
  margin-bottom: var(--size-50px);
}

.color-avocado {
  color: var(--avocado);
}

.color-black {
  color: var(--black);
}

.color-dusk {
  color: var(--dusk);
}

.color-honolulu {
  color: var(--honolulu);
}

.color-mango {
  color: var(--mango);
}

.color-sunshine {
  color: var(--sunshine);
}

.color-watermelon {
  color: var(--watermelon);
}

.color-white {
  color: var(--white);
}

.underline-color-avocado {
  text-decoration-color: var(--avocado);
}

.underline-color-black {
  text-decoration-color: var(--black);
}

.underline-color-dusk {
  text-decoration-color: var(--dusk);
}

.underline-color-honolulu {
  text-decoration-color: var(--honolulu);
}

.underline-color-mango {
  text-decoration-color: var(--mango);
}

.underline-color-sunshine {
  text-decoration-color: var(--sunshine);
}

.underline-color-watermelon {
  text-decoration-color: var(--watermelon);
}

.underline-color-white {
  text-decoration-color: var(--white);
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 2.15rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
