.project-list-item {
  margin-bottom: var(--size-30px);
}

.project__name {
  font-weight: bold;
}

.project__link {
  font-size: var(--font-size-small);
  margin-right: var(--size-20px);
}

.project__thumbnail {
  margin-bottom: var(--size-10px);
  width: 100%;
}
