---
import About from '../components/About.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import HomeLayout from '../layouts/HomeLayout.astro';
---

<HomeLayout>
  <main class="grid grid-cols-1 gap-10 pb-8 md:pb-16">
    <About />
    <FeaturedProjects />
  </main>
</HomeLayout>
