body {
	background-color: #60b99a;
	/* background: linear-gradient(#60b99a, #faca66); */
	background: url("https://images.unsplash.com/photo-1490735891913-40897cdaafd1");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.leading-zero {
	list-style-type: leading-zero;
}

.linkedin {
	color: #0077b5;
}

.github {
	color: #333;
}

.twitter {
	color: #1da1f2;
}

.accent {
	color: #20a89d;
}

.active {
	background-color: #20a89d;
	font-weight: bold;
	color: white;
}

@counter-style leading-zero {
	system: cyclic;
	symbols: "1" "2" "3" "4" "5" "6" "7" "8" "9";
	prefix: "0";
	suffix: " ";
}
