body {
	background-color: #60b99a;
	background: linear-gradient(#60b99a, #faca66);
	background-repeat: no-repeat;
	min-height: 100vh;
}

.leading-zero {
	list-style-type: leading-zero;
}

@counter-style leading-zero {
	system: cyclic;
	symbols: "1" "2" "3" "4" "5" "6" "7" "8" "9";
	prefix: "0";
	suffix: " ";
}
