* {
	scroll-behavior: smooth;
}

#work > .project {
	border-bottom: 1rem solid #5e42a6;
}

#sidebar ul.icons {
	margin-left: 20px;
}

/* 
.social-linkedin {
	color: #0077b5;
}

.social-github {
	color: #333;
}

.social-twitter {
	color: #1da1f2;
}

.social-default {
	color: #006a9a;
}

.social-default:hover,
.social-github:hover,
.social-linkedin:hover,
.social-twitter:hover {
	color: #e5b417;
}

.accent {
	color: #006a9a;
}

.active {
	background-color: #e5b417;
	font-weight: bold;
	color: white;
}

a:hover {
	font-weight: bold;
}

@counter-style leading-zero {
	system: cyclic;
	symbols: "1" "2" "3" "4" "5" "6" "7" "8" "9";
	prefix: "0";
	suffix: " ";
} */
