---
import CTALink from './CTALink.astro';
---

<section id="about">
  <h2>about</h2>
  <div>
    <p>
      Oh, hi! I’m Geraldine! ✨ I enjoy building tools that make learning and
      everyday life a little easier.
    </p>
    <p>
      With a background in UX design and teaching, empathy, clarity, and
      accessibility shape everything I build. My favorite projects are
      mission-driven, combining usability with thoughtful design.
    </p>
    <p>
      In free time, I enjoy playing video games, crocheting, and all things that
      spark joy. 💖
    </p>
    <div class="py-6">
      <CTALink href="/GeraldineRagsac_Resume.pdf" isExternal={true}
        >View Resume
      </CTALink>
    </div>
  </div>
</section>
