---
import CTALink from './CTALink.astro';
---

<header class="border-b-lightbrown w-full border-b px-5 md:px-20">
  <nav
    id="main-menu"
    class="mx-auto flex w-full max-w-6xl items-center justify-between py-8"
  >
    <h2 class="w-full md:flex-0"><a href="/">geraldiner</a></h2>
    <CTALink href="/GeraldineRagsac_Resume.pdf" isExternal={true}>
      View Resume
    </CTALink>
  </nav>
</header>
