<header class="mb-10 grid grid-cols-1 gap-5">
  <section class="flex gap-5">
    <div>
      <img
        class="w-full max-w-[4rem] rounded-full"
        src="https://avatars.githubusercontent.com/u/7737386"
        alt=""
      />
    </div>
    <div class="flex-1">
      <h1>Geraldine Ragsac</h1>
      <h2>Software Engineer</h2>
    </div>
  </section>
</header>
